{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row">
         <div class="col-lg-12">
             <h2 class="text-center">Supprimer un ticket</h2>
             <br>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="text-center">Êtes vous sûre de vouloir vous supprimer le ticket {{object.title}} ?</p>
            <br>
            <br>
            <button type="submit" class="btn btn-primary float-right">Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}