{% extends 'main.html' %}
{% block content %}

<h2 class="text-center">Flux</h2>
<div class="bs-example">
    <div class="bg-light clearfix">  
        <a href="{% url 'creation-ticket' %}"><button type="button" class="btn btn-primary float-left">Demander une critique</button></a>
        <a href="{% url 'creation-critique'%}"><button type="button" class="btn btn-primary float-right">Créer une critique</button></a>
    </div>
</div>

<div class="list-group">    
{% if posts%}
    {% for post in posts %}
        {% if post.ticket %}
        <div class = "list-group-item">
            
            <p class = "text-left disabled">
                <strong>{{post.user}}</strong> 
                a publié une critique</p>
            </p>
            <p class = "text-right disabled">
                {{post.time_created}} 
            </p>
            <p class = "list-group-item-text">
                {{post.headline}} 
            </p>
            <p class = "list-group-item-text">
                Note :
                {{post.rating}}
                / 5
            </p>
            <p class = "list-group-item-text">
                {{post.body}} 
            </p>   
            <p class = "list-group-item-text">
                **********************************************************
            </p>
            <p class = "list-group-item-text">
                <strong>Ticket - </strong>{{post.ticket.user}}
            </p>
            <p class = "list-group-item-text">
                <strong>Titre : </strong>{{post.ticket.title}}
            </p>
                
            <p class = "list-group-item-text">
                {{post.ticket.description}} 
            </p>

            {% if post.ticket.image %}
                <img src="{{post.ticket.image.url}}" alt="" width="180px" height="250px">
                {% endif %}
        </div>

        {% else %}
            <div class = "list-group-item">
                <p class = "text-left disabled">
                    <strong>{{post.user}}</strong> 
                    a demandé une critique</p>
                </p>
    
                <p class = "text-right disabled">
                    {{post.time_created}} 
                </p>

                <p class = "list-group-item-text">
                <strong>Titre : </strong>{{post.title}}
                </p>
                
                <p class = "list-group-item-text">
                    {{post.description}} 
                </p>    

                {% if post.image %}
                <img src="{{post.image.url}}" alt="" width="180px" height="250px">
                {% endif %}
               
                <div class="bg-light clearfix">  
                    <a href="{% url 'demande-critique' pk=post.pk %}"><button type="button" class="btn btn-primary float-right">Créer une critique</button></a>
                </div>
            </div>
            {% endif %}    
    <br>
    {% endfor %}
{% else %}
    <h2 class="text-center">AUCUN TICKET ET AUCUNE CRITIQUE</h2>
{% endif %}
</div>
  







{% endblock content %}